@import "./variebles.scss";

@mixin display-flex {
    display: flex;
    justify-content: $space-separation;
};

@mixin flex-column {
    display: flex;
    flex-direction: column;
};

@mixin background-no-repeat {
    background-repeat: no-repeat;
    background-size: cover;
}