$basic-background: #fff;

$black-color: #000;

$grey: #666666;

$dark-grey: #33333a;

$relative-position: relative;

$absolute-position: absolute;

$space-separation: space-between;

$max-width: 100%;

$margin-right: 10%;

$padding-left: 10px;